.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info-wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:nth-child(even) {
    background-color: #fafafa;
  }
}
