<xl-modal-container [title]="'Zamenjava Izdelka'">

    <form [formGroup]="form" class="wrapper" (ngSubmit)="createReplacement()">
      <!-- Left Column (Form for selecting product and instructions) -->
      <div class="info-wrapper">

        <xl-label-field [label]="'Predpisan izdelek'">
          Atoris 10 mg film.obl.tbl. 30x
        </xl-label-field>

        <xl-label-field [label]="'Farmacavtska oblika'" [horizontal]="true">
          Tableta
        </xl-label-field>

        <xl-label-field [label]="'Predpisano st. enot'" [horizontal]="true">
          3
        </xl-label-field>

        <xl-label-field [label]="'Odmerek in frekvenca'" [horizontal]="true">
          3 tablete 3x na dan
        </xl-label-field>

        <xl-label-field [label]="'Izracunano st. enot'" [horizontal]="true">
          <input type="text" [formControl]="form.controls.quantity">

          @if (form.controls.quantity.errors?.['required']) {
            <small class="error">Polje je obvezno</small>
          }
        </xl-label-field>

        <xl-label-field [label]="'Navodilo pacientu'" [horizontal]="true">
          1x3 pred jedjo
          <textarea [placeholder]="'1x3 pred jedjo'" [formControl]="form.controls.instructions"></textarea>
        </xl-label-field>

        <xl-label-field [label]="'Navodilo farmacevtu'" [horizontal]="true">
          Ne zamenjuj
        </xl-label-field>

        <xl-label-field [label]="'Skupine in oznake'">
          <xl-replacement-filter [formControl]="form.controls.codes"
                                 [options]="(itemOptions | async)!">
          </xl-replacement-filter>
        </xl-label-field>

      </div>

      <!-- Middle Column (Product Suggestions) -->
      <div class="info-wrapper">
        <h5>Predlagani izdelki</h5>
        <div class="search-form-group">
          <div class="form-group">
            <input type="text"
                   placeholder="Search for a product"
                   [formControl]="form.controls.search">
          </div>
          <div class="form-group">
            <input type="checkbox" id="inStockCheck" [formControl]="form.controls.onlyAvailable">
            <label for="inStockCheck">In Stock Only</label>
          </div>
        </div>
        <xl-suggested-replacements [alternatives]="form.controls.alternatives.value"
                                   [data]="filteredData()"
                                   (addReplacement)="addReplacement($event)">
        </xl-suggested-replacements>
      </div>

      <!-- Right Column (Selected Products) -->
      <div class="info-wrapper">
        <h5>Izbrani izdelki</h5>

        <div class="selected-replacement-tab">
          <div class="replacements-table">
            <xl-selected-replacements [formArray]="form.controls.alternatives"
                                      [alternatives]="form.controls.alternatives.value">
            </xl-selected-replacements>

            @if (form.errors?.['sumExceeded']) {
              <div class="error">
                Izbrali ste preveliko stevilo izdelkov
              </div>
            }
          </div>
          <div class="total-value">Skupno doplacilo {{currentTotalValue$ | async | number:'1.2-2' }}</div>
          <div class="buttons">
            <button type="button" class="simple" (click)="resetReplacements()">Preklici</button>
            <button type="submit">Na Kosovnico</button>
          </div>
        </div>
      </div>
    </form>

</xl-modal-container>
