.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info-wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:nth-child(even) {
    background-color: #fafafa;
  }
}

.search-form-group {
  display: flex;
  gap: 10px;

  .form-group:first-child {
    flex: 1;
  }
}

.selected-replacement-tab {
  display: flex;
  flex-direction: column;
  height: 100%;

  .replacements-table {
    flex: 1;
  }

  .total-value {
    margin: 10px 0;
    text-align: right;
  }

  .buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
  }

}
