@for (option of innedOptions(); let index = $index; track option.value) {
  <div class="filter-option">
    <div class="option-group">
      <input type="checkbox"
             [id]="option.value"
             [checked]="option.selected"
             (click)="toggle(option, index)">
      <label [for]="option.value">{{ option.name }}</label>
    </div>

    <div class="option-description">{{ option.description }}</div>
  </div>

  @if (option.children) {
    <div class="option-children">
      @for (child of option.children; let childIndex = $index; track child.value) {
        <div class="filter-option">
          <div class="option-group">
            <input type="checkbox"
                   [id]="child.value"
                   [checked]="child.selected"
                   (click)="toggleChild(child, childIndex, option, index)">
            <label [for]="child.value">{{ child.name }}</label>
          </div>

          <div class="option-description">{{ child.description }}</div>
        </div>
      }
    </div>
  }

}
