ul {
  list-style: none;
  padding: 0;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover, &.active {
    background-color: #17a2b8;
  }
}
