:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;

  &.horizontal {
    flex-direction: row;
    gap: 15px;
  }

  > * {
    flex: 1;
  }

  label {
    font-weight: 600;
  }
}
