:host {
  display: block;
  background: #fff;
  border-radius: 8px;
}

header {
  border-bottom: 1px solid #838383;
  color: #838383;
  position: relative;
  padding: 10px 20px;

  .modal-title {
    font-size: 12px;
  }

  .close-modal-icon {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;

    &:hover {
      color: #757474;
    }
  }
}

main {

}
